.booking-container{
    width:80%;
    height:70%;
}
.booksub-container{
    display:flex;
}
.b-left{
 width:50%;
 padding: 1rem;
 height:70vh;
 margin:0 0 0 1rem;
 border:1px solid grey;
 }
 .book-content{
 display:flex;
 }

.room-img img{
    margin:1rem;
    width:6rem;
    height:4rem;
    border-radius:1px;
    box-shadow: 3px 8px 8px 4px rgba(22, 22, 22, 0.534);
}
.room-details{
margin: 10px;
}
/* .room-details h1{
 font-size:2rem;
 margin-bottom:1rem;
 color:rgba(255, 0, 0, 0.884);
 text-decoration: underline;
} */
.room-details h1{
 font-size:1.2rem;
 margin-bottom:1rem;
}
.room-details p{
    font-size:15px;
    line-height:3px;
    color:gray;
}
.amount{
  margin-top:5rem;
}
.b-right{
 width:50%
}
