
.n-wrapper{
    display: flex;
    /* border-bottom:1px solid gray; */
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    margin-top:10px;
    /* padding-top: 10px; */
}
.n-left{
   flex:1;
   display: flex;
   align-items:center;
   margin-top:-5px;
    gap:2rem;
   padding-left:1rem;
}
.n-name .profile-name{
    font-size:1.5rem;
    font-weight:bold;
}

.n-right{
    display: flex;
    flex: 1 ;

    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
}
.n-list{
   
    display: flex;
    align-items: center;
}
.n-list ul{
    display:flex;
    gap:1rem;
    margin-right:3rem;
    list-style-type:none;
    transition: width 0.7s ease, background-color 0.5s ease;
    }
    
    .n-list ul li{
        cursor: pointer;
        font-size:1.1rem;
        font-weight:bold;
    }
    
    .n-list ul li:nth-child(1){
        margin-top:0.5rem;  
    }
    
    .link{
        color:black;
        /* font-size:2rem; */
        text-decoration: none;
    }
.n-list ul li:after {
    content: "";
    display: block;
    height:3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
    }

.n-list ul li:hover:after{
    width:100%;
    background:rgb(0, 101, 253);
    }
.n-button{
    flex:2;
}
.nav-icons{
    display:none;
}
.dropdown-btn{
font-size:1.1rem;
text-transform:none;
background:white;
color:black
}
.dropdown-item{
    color:black;
    font-size:1.1rem;
    font-weight:bold;
}
.dropdown-btn:hover{
    border: none;
    transform:scale(105%);
    transition:.6s;
}
.button
{
border-radius:34px;
height:2rem;
border:none;
color:white;
font-size: 16px;
padding:6px 23px 1px 23px;
background:linear-gradient(to right, #870000, #190a05);
/* box-shadow: 0px 20px 24px 3px rgba(251,161,40,0.42); */
}
button:hover{
  background: white;
  cursor:pointer;
  font-weight: bold;
  color:#870000;
  border: 1px solid #870000;
}

@media screen and (max-width:920px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 1pxsolid #fff;
        padding:1rem;

        position: absolute;
        top: 60px;
        left: -115%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index:2;
        background-color: var(--orange);
      }
      .nav-menu.active {
        background:rgb(255, 255, 255);
        align-items: center;
        justify-content:center;
        left: 0px;
        opacity:1;
        transition: all 0.5s ease;
        z-index:2;
        color:rgb(255, 255, 255);
        font-weight: bold;
      }
      .n-list ul li:hover:after{
       
        width:100%;
        background:white;
        }
      .nav-icons{
        margin-right:2rem;
        display:block;
      }
      .n-button{
        display: none;
    }
    

}

