.main-container{
    width:74vw;
    height:40vh;
    border-radius:5px;
    border-bottom:1px solid #dddcdc;
    background:rgb(252, 250, 250);
    margin:2rem 0 -1em 0rem;
}
.room-container{
  display: flex;
}
.g-left{
  width:33%
}
.g-left img{
  margin:0rem 1.5rem;
  border:1px solid rgb(97, 97, 97);
  width:20rem;
  height:15.5rem;
  border-radius:10px;
}


.g-right{
    margin:2rem 0 2rem 0rem;
}
.g-right h1{
   font-size:1.5rem;
   font-weight:bolder; 
}
.g-right h6{
  color:rgb(82, 81, 81);
  font-weight:bolder;
  font-family: sans-serif;
  font-size:1rem;
  font-weight:bolder; 
}
.room-icons{
  line-height:3rem;
  font-size:2rem;
}
.button-room{
  background:rgb(0, 101, 253);
  color:white;
  border:1px solid rgb(0, 101, 253);;
  margin:2rem 0 0 25rem;
}
.button-room:hover{
  background: rgb(1, 82, 204);
  color:white;
}
.close-btn{
  margin:0px;
}
.book-btn{
  margin:2rem 0 0 1rem;
}